.login-form {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.wraper-div{
    background-color: white;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.login-form > input {
    margin: 10px;
    width: 10rem;
    height: 2rem;
    /* box-shadow: 0 0 8px 4px lightblue; */
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    padding: 4px 20px;
}

.login1{
    width: 29rem;
    height: 26rem;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
}
.login-form > button {
    margin: 10px;
    width: 8rem;
    height: 2rem;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 5px 20px;
    border: 1px solid black;
}

/* ::placeholder {
    padding: 10px;
} */

.account-check{
    text-align: end;
    color: black;
    cursor: pointer;
    margin-right: 10px;
    width: 250px;
    position: relative;
    right: 3.5rem;
    letter-spacing: 2px;
}

.login-logo {
    background-color: rgb(224, 114, 114);
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 10px;
}

.warning {
    font-size: 0.8rem;
    color: rgb(255, 50, 50);
    position: absolute;
    z-index: 100;
}

@media only screen and (max-width:768px) {
    .login-form > input {
        margin: 10px;
        width: 18rem;
    }

    .login-form > button {
        margin: 10px;
        width: 19rem;
    }
}

@media only screen and (max-width:300px) {
    .login-form > input {
        margin: 5px;
        width: 10rem;
        height: 1.5rem;
    }

    .login-form > button {
        margin: 10px;
        width: 10rem;
    }
}